alabaster @ file:///home/task_176470912990913/conda-bld/alabaster_1764709177943/work
asttokens==3.0.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
babel @ file:///home/task_176415924104227/conda-bld/babel_1764159291041/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1764520477956/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1763589981/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cftime @ file:///croot/cftime_1733514638025/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
comm==0.2.2
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy==1.8.11
decorator==5.1.1
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
docutils @ file:///home/task_176174631658817/conda-bld/docutils_1761746619851/work
ephem @ file:///croot/ephem_1727699859332/work
executing==2.1.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools==4.25.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1751003235284/work
h5py @ file:///croot/h5py_1730215935167/work
idna @ file:///croot/idna_1714398848350/work
imagesize @ file:///work/ci_py311/imagesize_1676830829500/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
ipykernel==6.29.5
ipython==8.31.0
jedi==0.19.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
llvmlite @ file:///croot/llvmlite_1720455102465/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1752271512095/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1754946772828/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1766504456/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
multiprocess @ file:///croot/multiprocess_1692294385131/work
munkres==1.1.4
myst-parser @ file:///home/conda/feedstock_root/build_artifacts/myst-parser_1768942776246/work
natsort @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_natsort_1733880463/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1766485478710/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1760797634/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nbsphinx @ file:///home/conda/feedstock_root/build_artifacts/nbsphinx_1764354084916/work
nest-asyncio==1.6.0
netCDF4 @ file:///work/ci_py311/netcdf4_1676841251032/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numba @ file:///croot/numba_1720540961817/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
numpy-financial @ file:///home/conda/feedstock_root/build_artifacts/numpy-financial_1735835218102/work
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp311-cp311-linux_x86_64.whl#sha256=884420a58b11b4c9b7f4df21046caaae9229522b672b557f0f98c84251141fc5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.8.4
patsy @ file:///croot/patsy_1718378176128/work
pexpect==4.9.0
pillow @ file:///croot/pillow_1734430590456/work
platformdirs==4.3.6
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prompt_toolkit==3.0.48
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pvlib @ file:///home/conda/feedstock_root/build_artifacts/pvlib_1749303002231/work
Pygments==2.18.0
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1747921868121/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1702028054139/work
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1757387012/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///croot/requests_1730999120400/work
roman-numerals-py @ file:///croot/roman-numerals-py_1744666280892/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1764543197/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1752825730876/work/dist/scikit_learn-1.7.1-cp311-cp311-linux_x86_64.whl#sha256=a6d37af0d787620ad78c39ccdabfefdacef8e8d7d141415a7297a6b5d12b51d0
scipy @ file:///croot/scipy_1731622509417/work/dist/scipy-1.14.1-cp311-cp311-linux_x86_64.whl#sha256=af58dda0b037bb7ae38465acc8662fa48e6ee59e6df901e9d4d9d6772dd04e7d
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shapely @ file:///croot/shapely_1734445883981/work
sip @ file:///croot/sip_1736541134699/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snowballstemmer @ file:///croot/snowballstemmer_1756709967271/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1769034399263/work
Sphinx @ file:///home/task_176493978370838/conda-bld/sphinx_1764939849566/work
sphinx_rtd_theme @ file:///croot/sphinx_rtd_theme-split_1746541971821/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jquery @ file:///croot/sphinxcontrib-jquery_1746539756720/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
stack-data==0.6.3
statsmodels @ file:///croot/statsmodels_1734018870787/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tinycss2_1764621508/work
tornado @ file:///croot/tornado_1733960490606/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///croot/urllib3_1727769808118/work
wcwidth==0.2.13
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
zipp @ file:///croot/zipp_1732630741423/work
